*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
    font-family: Calibri, sans-serif;
    color: #616161;
}
.backgr{
    background-image: url(img/tochki2.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}
.word{
    color: #fb973b;
}
h1,h2{
    display: inline;
    line-height: 72px;
    font-size: 60px;
    color: #141419;
    box-shadow:
    inset 0 -0.23em white,
    inset 0 -0.4em #fb973b;
}
.container{
    width: 1250px;
    margin: 0 auto;
}

/* .navbar_menu{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
} */
.navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.navigation_link, .navigation_phone{
    font-size: 18px;
    line-height: 29px;
}
.navigation_phone{
    font-weight: bold;
    text-decoration: none;
    color: #141419;
}
/* <--NAVIGATION--> */
.hero{
    width: 100%;
    min-height: 680px;
    background-image: url(img/herobcg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    padding-top: 80px;
}
.hero_title{
    padding-top: 85px;
}

.hero_text{
    margin: 40px 0;
}
.heroForm{
    display: flex;
}
.phone_for{
    padding: 14px 35px;
    border: 1px solid #e1e1e1;
    background-color: #f8f8f8;
    font-size: 18px;
    line-height: 31px;
}
.heroBtn{
    display: block;
    padding: 20px 55px 24px 55px;
    font-size: 18px;
    line-height: 31px;
    border: none;
    background-color: #fb973b;
    color: #fff;
}
/* <--MAIN SECTION--> */
.about_content{
    text-align: center;
}
.options{
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0 128px;
}
.options img{
    width: 50%;
    height: 50%;
}
.options_text{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.options_text>p{
    padding-top: 15px;
    padding-bottom: 20px;
}
.options
.sirqle{
    position: relative;
    color: #fb973b;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #fb973b;
    border-radius: 50%;
}
.sirqle::after{
    position: absolute;
    content: "";
    background-color: #fb973b;
    display: block;
    width: 1px;
    height: 23px;
    left: 50%;
    top: 100%;
}
.sirqle:not(:first-child)::before{
    position: absolute;
    content: "";
    background-color: #fb973b;
    display: block;
    width: 1px;
    height: 23px;
    left: 50%;
    bottom: 110%;
}
/* <--INFO--> */
.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.partnerlogo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.partnerlogo img{
    margin-bottom: 40px;
}